@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	background: #1f2029;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 4%;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

section {
	height: 100vh;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.header-con {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
	margin-top: 20px;
}

.left-header {
	display: flex;
	align-items: center;
}

.left-header img {
	max-width: 50px;
}

.left-header h1 {
	text-transform: uppercase;
}

.right-header-list {
	display: flex;
	gap: 50px;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 600;
}

.right-header-item a {
	transition: 0.5s;
}

.right-header-item a:hover {
	background: #ffeba7;
	color: #102770;
	padding: 20px 10px;
	border-radius: 10px;
	transition: 0.5s;
}

.main-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-main {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.left-main h1 {
	font-size: 32px;
	max-width: 450px;
	line-height: 42px;
	text-transform: uppercase;
}

.left-main h1 span {
	font-size: 28px;
}

.left-main p {
	font-size: 24px;
	max-width: 700px;
	line-height: 32px;
}
.left-main p span {
	display: inline-block;
	color: #ffeba7;
	margin-top: 25px;
}

.left-main a {
	background: #ffeba7;
	padding: 10px 10px;
	border-radius: 10px;
	color: #102770;
	font-size: 18px;
	max-width: 180px;
	text-align: center;
}

.left-main a i {
	margin-left: 5px;
}

.right-main img {
	max-width: 425px;
}

.about-content h2 {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 10px;
}

.left-about {
	margin-bottom: 25px;
}

.left-about h2 {
	font-size: 25px;
	margin-bottom: 25px;
}

.left-about p {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 25px;
}

.left-about p a {
	color: #ffeba7;
	text-decoration: underline;
}

.left-about p1 {
	font-size: 17px;
	color: #ffeba7;
}

.right-about {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right-about img {
	max-width: 400px;
}

.img-about p {
	text-align: center;
	margin-top: 5px;
	color: #dac990;
}
